<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador - Cadastro</title>
    <link id="Estilo" rel="stylesheet" href="css/padrao/sing-in-up.css">
    <script src="./js/sing-up.js"></script>
</head>
<body>
    <div id="card-form">
        <form class=card action="/Cadastro" method="POST">
            <div class="card-header">
                <h2>Sign up</h2>
            </div>
            <div class="card-content">
                <div class="card-content-area">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" autocomplete="off" required>
                </div>
                <div class="card-content-area">
                    <label for="password">Senha</label>
                    <input type="password" name="password" autocomplete="off" required>
                </div>
                <div class="card-content-area">
                    <label for="password">Repetir a Senha</label>
                    <input type="password" name="confirmPassword" autocomplete="off" required>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Sing-up" class="submit">
                <a href="/Login" class="recuperar_senha">Já tem uma Conta?</a>
                <input type="hidden" id="error-message" value="<%= error || '' %>">
            </div>
            <div id="Tema">
                <button type="button" id="mudar-tema">Mudar Tema</button>
            </div>
        </form>
    </div>
    <footer id="footer">
        <p>Todos os direitos reservados</p>
    </footer>
</body>
</html>