<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">
  <title>Erro</title>
</head>
<body>
  <h1>Erro</h1>
  <p><%= message %></p>
  <a href="/">Voltar</a>
</body>
</html>
