<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Tela Inicial</title>
    <script src="/js/dinamico.js"></script>
</head>
<body>
    <div id="Tela-Inicio">
        <aside id="sidebar">
            <nav id="Menu">
                <img src="/src/gato.jpg" alt="User Photo">
                <h3>Gabriel</h3>
                <a href="/Projetos" class="Menu-Item" data-route="/Projetos">Projetos</a>
                <a href="/Tarefas" class="Menu-Item" data-route="/Tarefas">Tarefas</a>
                <a href="/Desempenho" class="Menu-Item" data-route="/Desempenho">Desempenho</a>
            </nav>
            <div id="Configuracao">
                <a href="/Mudar-Fonte" class="Menu-Configuracao">Mudar Fonte</a>
                <a href="/" class="Menu-Configuracao">Sair</a>
            </div>
        </aside>
        <div id="Conteudo-Principal">
        </div>
    </div>
</body>
</html>