*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #e1e1e1;
    color: black;
}

p{
    font-size: 20px;
    font-weight:500;
}

a{
    text-decoration: none;
    font-size: 20px;
}

#Login{
    display: flex;
    justify-content: end;
    padding: 10px 15px 0 0 ;
    background-color: black;
    color: white;
    height:50px;
}

#Login a{
    text-decoration: none;
    padding: 3px 5px 5px 5px;
    border-radius: 10px;
    color: black;
    background-color: #a13854;
    height: 30px;
    width: 150px;
    text-align: center;
    margin: 0px 5px 0 0;
}

#Conteudo{
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: #fff;
    color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.card h1{
    padding: 0 0 5px 0;
}

.card-Texto{
    height: 100%;
}

.card img {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    margin-bottom: 15px; 
}

#erroSenha{
    text-align: center;
}

#footer{
    box-sizing: border-box;
    text-align: center;
    padding: 15px 0px;
    background-color: black;
    color: white;
}
