* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: black; 
    color: white; 
    font-size: 18px; 
    line-height: 1.6; 
}

p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6; 
}

a {
    text-decoration: none;
    font-size: 20px;
}

a:hover, a:focus {
    text-decoration: underline; 
}

#Login {
    display: flex;
    justify-content: end;
    padding: 10px 15px 5px 0;
    background-color: rgba(255, 255, 255, 0.048); 
    color: white;
    height: 70px; 
}

#Login a {
    text-decoration: none;
    padding: 8px 10px;
    border: 5px solid white ;
    border-radius: 10px;
    color: #fff; 
    background-color: #ffffff10; 
    height: auto; 
    width: auto;
    text-align: center;
    margin: 0 5px;
    font-weight: bold;
}

#Login a:hover, #Login a:focus {
    background-color: white; 
    color: black;
}

#Conteudo {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: black;
    color: #fffefe; 
    border: 5px solid #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 25px;
    text-align: center;
    flex: 1;
    margin: 0 15px;
    font-size: 20px; 
}

.card h1 {
    font-size: 24px; 
    margin-bottom: 10px;
}

.card-Texto {
    height: 100%;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px;
}

#footer {
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.048); 
    color: white;
    font-size: 16px; 
    line-height: 1.4;
}
