* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 22px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: #fff;
}

#Tela-Inicio {
  display: flex;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  font-size: 24px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  background-color: black;
}

#Menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 0;
  padding-top: 80px;
}

#Menu img {
  width: 230px;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;
  display: block;
  padding: 10px 25px;
  max-width: 100%;
}

#Menu h3 {
  margin-bottom: 20px;
  font-size: 22px;
  text-decoration: none;
  padding: 10px 25px;
  border-left: 4px solid transparent;
  text-align: left;
  font-size: 22px;
}

.Menu-Item, .Menu-Configuracao {
  width: 100%;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 10px 25px;
  border-left: 4px solid transparent;
  text-align: left;
  font-size: 22px;
  margin-bottom: 8px;
}

.Menu-Item:hover, .Menu-Configuracao:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffdd57;
  border-left: 4px solid #ffdd57; 
}

.Menu-Item.active, .Menu-Configuracao.active {
  font-weight: 300;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 20px;
}

#Configuracao {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#Conteudo-Principal {
  margin-left: 450px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
}

#mudar-tema {
  background-color: #000;
  color: #fff;
  border-left: 4px solid transparent;
  font-size: 22px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  cursor: pointer;
  padding: 12px 25px;
  text-align: left;
}

#mudar-tema:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffdd57;
  border-left: 4px solid #ffdd57; 
}

h1, h2 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  margin-bottom: 20px;
}

.formularioProjeto {
  width: 80%;
  margin: 30px auto;
  background: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table thead tr {
  background-color: #111;
  color: #fff;
}

table th, table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #444;
}

table tbody tr:nth-child(odd) {
  background-color: #222;
}

.pagination {
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #444;
  margin: 0 5px;
  border-radius: 4px;
  transition: all 0.3s;
}

.pagination a:hover, .pagination a.active {
  background-color: #444;
  color: #fff;
  border-color: #444;
}
