* {
    font-family: Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

#card-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: black;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 280px;
}

.card-header {
    margin-top: -25px;
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
    background-color: black;
    font-size: 30px;
}

.card-header::after {
    content: "";
    width: 160px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -20px;
    margin-left: -5px;
}

.card-content label {
    color: #fff;
    background-color: black;
    font-size: 20px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    color: #333;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.card-footer .submit:hover {
    color: black;
}

#mudar-tema {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, font-size 0.3s ease;
}

#mudar-tema:hover {
    color: black;
    background-color: #f1f1f1;
    font-size: 18px;
}

#Tema {
    text-align: center;
    margin-top: 15px;
    margin-bottom: -5px;
    color: #fff;
}

.custom-div:hover {
    background-color: black;
    color: white;
}

.card-footer a {
    text-align: center;
    font-size: 15px;
    opacity: 0.8;
    color: #fff;
    background-color: black;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.card-footer a:hover {
    color: black;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

#erroSenha {
    text-align: center;
}

#footer {
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
}
