<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="Estilo" rel="stylesheet" type="text/css" href="/css/criar-projeto.css">
    <script src="/js/criar-projeto.js"></script>
    <title>Tela Inicial</title>
</head>
<body>
    <div id="Tela-Inicio">
        <aside id="sidebar">
            <nav id="Menu">
                <img src="/src/padrao.jpg" alt="User Photo">
                <h3>Gabriel</h3>
                <a href="/Criar-Projeto" class="Menu-Item" data-route="/Criar-Projeto">Novo Projeto</a>
                <a href="/Buscar-Projeto" class="Menu-Item" data-route="/Buscar-Projeto">Pesquisar por  Projeto</a>
                <a href="/Buscar-Tarefa" class="Menu-Item" data-route="/Buscar-Tarefa">Pesquisar por Tarefa</a>
            </nav>
            <div id="Configuracao">
                <button type="button" id="mudar-tema" >Mudar Tema</button>
                <a href="/" class="Menu-Configuracao">Sair</a>
            </div>
        </aside>
        <div id="Conteudo-Principal">
            <section id="formularioProjeto">
                <h2>Cadastrar Novo Projeto</h2>
                <form action="/projetos" method="POST" id="formProjeto">
                    <input type="hidden" id="idProjeto" name="idProjeto">
            
                    <label for="tituloProjeto">Título:</label>
                    <input type="text" id="tituloProjeto" name="tituloProjeto" required placeholder="Digite o título do projeto"><br><br>
            
                    <label for="descricaoProjeto">Descrição:</label>
                    <textarea id="descricaoProjeto" name="descricaoProjeto" required placeholder="Descrição do projeto..."></textarea><br><br>
            
                    <label for="prazoProjeto">Prazo:</label>
                    <input type="date" id="prazoProjeto" name="prazoProjeto" required><br><br>
            
                    <label for="prioridadeProjeto">Prioridade:</label>
                    <select id="prioridadeProjeto" name="prioridadeProjeto">
                        <option value="alta">Alta</option>
                        <option value="media">Média</option>
                        <option value="baixa">Baixa</option>
                    </select><br><br>
            
                    <label for="statusProjeto">Status:</label>
                    <select id="statusProjeto" name="statusProjeto">
                        <option value="ativo">Ativo</option>
                        <option value="concluido">Concluído</option>
                        <option value="atrasado">Atrasado</option>
                    </select><br><br>
            
                    <button type="submit">Salvar Projeto</button>
                </form>
            </section>
        </div>
    </div>
</body>
</html>