<div id="Card">
    <div id="Nome-Projeto">
        <h1> <%= Projetos[0].name %> </h1>
    <div>
    <div id="Lista-Projeto">
        <% if (Object.keys(Projetos[0].Partes).length > 0 ) {%>
            <% Object.entries(Projetos[0].Partes).forEach(([parte, Projeto]) => { %>
                <a href="#" class="Item"> <%= Projeto %></a>
            <% }) %>
            <% } else { %>
                <p>Nenhuma</p>
            <% } %>    
    </div>    
</div>